{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    
    <title>    {% block title %} base {% endblock %}</title>
</head>
<body>

    <h1>Ivan Arsenio Velazquez Alfonso</h1>
    <img src="{% static 'img/1.jpg' %}">

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/servicios/">Servicios</a></li>
            <li><a href="/contactos/">Contactos</a></li>
        </ul>
    </nav>
    {% block containt %} {% endblock %}

</body>
</html>